h1 {color: white; font-weight: bold; font-family: "Comic Sans MS","Comic Sans";}
h2 {color: white; font-weight: bold; font-family: "Comic Sans MS","Comic Sans";}
h3 {color: white; font-weight: bold; font-family: "Comic Sans MS","Comic Sans";}
h4 {color: white;}
p {color: white;}
