html {background-color: black;}
h1 {color: white; font-weight: bold; font-family: "Comic Sans MS","Comic Sans";}
h2 {color: white; font-weight: bold; font-family: "Comic Sans MS","Comic Sans";}
h3 {color: white; font-weight: bold; font-family: "Comic Sans MS","Comic Sans";}
h4 {color: white; font-family: "Comic Sans MS","Comic Sans";}
p {color: white; font-family: "Comic Sans MS","Comic Sans";}
